<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title> Config Client</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	
	<script>
		var deleteLedger; 
		$(document).ready(function(){
		  $("#sendPost").click(function(){
			var amt=$("#amount").val(); 
			var catId=$("#categoryId").val(); 
			$.ajax({
				url: '/ledgerApi/addLedger',
				type: 'POST',
				data: jQuery.param({ categoryId: catId, amount : amt}) ,
				contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
				success: function (response) {
					alert(response);
				},
				error: function () {
					alert("error");
				}
			});
		  }); 

		  deleteLedger= function (e){
			var ledgerId=e.value;
			$.ajax({
				url: '/ledgerApi/deleteLedger',
				type: 'delete',
				data: jQuery.param({ id: ledgerId}) ,
				contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
				success: function (response) {
					alert(response);
				},
				error: function () {
					alert("error");
				}
			});
		 };
		 
		});
		</script>
</head>
<body>
<div class="row">
	<div class="col-md-2"><h6 class="bg-success text-white">Welcome <span  th:text="${userName}"></span> </h6></div>
	<div class="col-md-8">
		<h1> Spring Cloud Config Client</h1> 
	</div>
		<div class="col-md-2"><a href="/index.html">Home</a><a href="/logout">logout</a>
	</div>
</div>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div th:if="${not #lists.isEmpty(ledgerList)}">
			<h2>Amount List</h2>
			<table class="table table-striped">
				<tr>  
					<th>categoryName</th>
					<th>amount</th>
					<th>Action</th>
				</tr>
				<tr th:each="ledger : ${ledgerList}"> 
 					<td th:text="${ledger.category.categoryName}"></td>
					<td th:text="${ledger.amount}"></td>
					<td> Delete Id :<input type="button" th:value="${ledger.id}" class="btn btn-danger" onclick="deleteLedger(this)"></Input> </td>
				</tr>
			</table>
			 
		<div>
	   	<ul class="list-group">
			<li class="list-group-item list-group-item-success" ><p th:text="${totalWithdrawn}"></p></li>
			<li class="list-group-item list-group-item-warning" ><p th:text="${totalAdded}"></p></li>
			<li class="list-group-item list-group-item-danger" ><p th:text="${totalleft}"></p></li>
			<li class="list-group-item list-group-item-success" ><p th:text="${moneyEarned}"></p></li>
		</ul> 
		</div>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>  
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8"> 
		<h1> Add amount to Ledger</h1> 
			<div class="form-group">
				<label for="categoryId">categoryId:</label>
				<input type="text" class="form-control" id="categoryId" placeholder="Enter categoryId">
			  </div>
			  <div class="form-group">
				<label for="amount">Amount (rounded to nearest integer):</label>
				<input type="number" class="form-control" id="amount" placeholder="Enter amount">
			  </div> 
			  <button type="button" id="sendPost"   class="btn btn-default">Submit</button>
		</div>  
	<div class="col-md-2"></div>
</div>  
</body>
</html>